.card{
    width:250px;
    border:1px solid #ccc;
    border-radius:10px;
    overflow: hidden;
    margin:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    transition:0.3s ease;
}
.card:hover{
    transform: scale(1.03);
}
.card-img{
    width:100%;
    height:200px;
}
.card-content{
    padding: 10px;
    background-color: #f9f9f9;
}